<div>
  <form action="login" method="post">
  <input type="email" required name="email" placeholder="email" /><br />
  <input type="password" required name="password" placeholder="contraseña" /><br
  />

  <button type="submit">Loguearse</button><br />
</form>
  <a href="/api/sessions/github">
    <button>Entrar con Github</button>
  </a>
</div>

